/* Estilos generales */
body {
    font-family:Verdana;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
width: 100%;
height: 125px;
padding-top: 2%;

}
.search-container {
    text-align:right;
    margin-top: 20px;
}

.search-container form {
    position: absolute;
    top:55px;
    left: 80%;
}
.search-container input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #c7c70b;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #cec9c9;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.search-container button:hover {
    background-color: #c7c70b;
}

/* Navegación */
.navbar {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: rgb(183, 183, 183);
    text-decoration: none;
    font-size: 30px;
    padding: 10px 15px;
}

.navbar ul li a:hover {
    background-color: #585858;
    border-radius: 5px;
    color: #ff6600; /* Cambia el color según tu preferencia */
    transform: scale(1.05); /* Aumenta un poco el tamaño del texto */
    color: #ff6600; /* Cambia el color según tu preferencia */
    text-decoration: underline; /* Subraya el texto al pasar el ratón */
}
/* Formulario de contacto */
.contact-form {
    padding: 50px;
    max-width: 600px;
    margin: auto;
}

.contact-form h1 {
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.imagen{
    width: 280px;
    height: 110px;

}
.swiper-container {
    width: 100%;
    height: 400px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline;
    margin: 0 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-info p {
    margin: 5px 0;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul li {
        display: block;
        margin: 5px 0;
    }
}
.contac{
    font-family: Tahoma;
}